# Building core library+wrapper:
cmake>=3.20
ninja>=1.5
mypy==1.9.0
# Documentation
# We are stuck on an older sphinx until breathe resolves compatibility issues.
# Such as: https://github.com/sphinx-doc/sphinx/issues/11490
sphinx==6.2.1
furo
breathe==4.35.0
myst-parser
# Linting
pre-commit
