# BUILD PRODUCTS
*.d
*.o
*.disasm
*.map
*.elf
*.bin
*.hex
*.slo
*.lo
*.obj
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# BUILD FOLDERS
build/
build/*

# QTCREATOR PROJECT
*.includes
*.creator
*.creator.user
*.creator.user.*
*.config
*.files
*.cflags
*.cxxflags

# JETBRAINS
*.idea
cmake-build-debug/

# VSCODE
.vscode/
