[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/gtest"]
	path = dependencies/gtest
	url = https://github.com/google/googletest.git
[submodule "dependencies/nanobind"]
	path = dependencies/nanobind
	url = https://github.com/gareth-cross/nanobind.git
